*{
    margin: 0%;
    padding: 0%;
}

.Wrapper{
    margin: auto;
    display: flex;
    justify-content: space-around;
    height: 100px;
    padding-top: 45px;
    box-sizing: border-box;
}
.HeaderCenter ul,.HeaderRight ul{
    display: flex;
    justify-content: space-around;
  
    
}
.HeaderCenter{
    margin-top: 5px
}

.HeaderCenter ul li a{
     color: #333333;
     font-size: 15px;
     font-weight: 700;
     font-family: Poppins,sans-serif;
}
.HeaderRight ul li{
    padding-right: 15px;
    cursor: pointer;
}
.Photo{
    width: 85%;
    margin:0 auto
}
.Photo img{
    width: 100%;
    height: 800px;
}
.WrapperCol{
    width: 85%;
    margin: auto;
    margin-top: 150px
}
.WCol{
    position: relative;
}
.Quote{
    position: absolute;
    left:5px;
    bottom: 20px;
    background: white;
    padding:  15px;
    z-index: 2;
    
}
.WCol img{
    width: 100%;
 
}
.WCol img:hover {
    transform: scale(1.1);
    overflow: hidden;
    transition:  all 0.3s ease;
}
.item1 {
    margin-top: 50px
}
